//PERSONAL VARIABLES
$primary: #E25822;
$secondary: #2C3E50;
$secondary-light: #dcdcdc;
$success: #00BC35;
$warning: #e2c30c;
$alert: #E2222C;

// /LOGO VARIABLES
$logo-small: "/img/logo-sm.svg";
$logo: "/img/logo.svg";


//FOOTER VARIABLES
$footer_bg: salmon;
$footer_color: white;

$footer_bg_bttm: black;
$footer_color_bttm: lightgray;