.categoriepagina {
  border: 1px solid $secondary-light;
  text-align: center;

  ul.side-nav {
    list-style-type: none;
    text-align: left;
    margin: 0;
    max-height: 500px;
    overflow-y: auto;
  }
  .subcategorien {
    max-height: 500px;
    overflow-y: auto;
    margin: 0 !important;

    a {
      display: block;
      min-height: 100px;
      img {
        width: 75px;
      }
    }
  }

  div.side-nav-block {
    padding: 0;
    border-right: 1px solid $secondary-light;
  }

  li:hover {
    background-color: #FFA500;
  }

  .mobile-subcategorien {
    ul li {
      list-style: none;
      a {
        line-height: 30px;
      }
    }
  }

}