#indexTriggerText{
    padding-top: 4em;
    padding-bottom: 4em;
        h3{
            font-weight: 300;
            span{
                color: $primary;
font-weight: 400;
}
}
}

#indexSearch{
    padding-top: 4em;
        
}

div#blocks{
       padding: 0;
   }

#trending{
    font-weight: 500;
}

.veilingen {
    .trendingData{
        @import 'components/veiling';
    }
  }