
.banner {
  background: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  .row {
    margin-top: 0
  }
;
  .big-search {
    margin-bottom: 200px;
  }
}
#indexTriggerText{
    padding-top: 4em;
    padding-bottom: 4em;
        h3{
            font-weight: 300;
            span{
                color: $primary;
font-weight: 400;
}
}
}

#indexSearch{
    padding-top: 4em;
        
}

div#blocks{
       padding: 0;
   }

#trending{
    font-weight: 500;
}

.veilingen {
    .trendingData{
        @import 'components/veiling';
    }

  position: relative;
  top: -100px;
  background: white;
  padding: 30px;
}