.veilingpagina {
  .titel {
    margin-top: 5%;
  }
  .veilingImage {
    border: solid 2px #dbdbdb;

    img {
      display: block;
      margin: auto;
      height: auto;
      width: auto;
      max-height: 500px;
    }
  }

  .veilingError {
    text-align: center;
    display: none;
  }

  #bedrag, #biedenKnop {
    margin: 0;
  }

  .biedingen tr td {
    padding: 0;
  }

  .biedKnop {
    width: 100%;
  }

  .biedVerbod {
    margin: 1% 0;
  }
}